body {
    background-color: lightgrey;
}

.whole {
    margin-left: 8%;
    margin-right: 8%;
}

.rotation {
    width: 12em;
    height: 13em;
    background-color: lightgrey;
}

.msg {
    width: 40%;
    height: 13em;
    text-align: center;
    background-color: lightblue;
    z-index: -1;
}

.moving {
    width: 5em;
    height: 13em;
    text-align: center;
    background-color: lightgrey;
}

.panel {
    float: left;
    position: relative;
    top: 3em;
    box-shadow: #232425 0.0em 0em 0.8em;
}

.container {
    position: absolute;
    left: 0em;
    top: 0em;
    right: 0em;
    bottom: 0em;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

.h_container {
    position: absolute;
    left: 0em;
    top: 0em;
    right: 0em;
    bottom: 0em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0em;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.outer_cycle {
    width: 10em;
    height: 10em;
    border-radius: 10em;
    background-color: grey;
}

.inner_cycle {
    width: 7em;
    height: 7em;
    border-radius: 7em;
    background-color: silver;
    box-shadow: #232425 0 0 0.5em;
}

.selector {
    width: 1.2em;
    height: 1.2em;
    border-radius: 1.5em;
    border: 0.3em solid silver;
    background-color: rgba(210, 105, 30, 0.8);
}

.number {
    width: 1.2em;
    height: 1.2em;
    text-align: center;
}

.msg_content {
    background-color: white;
}

.button {
    font-size: 4.5em;
    font-style:normal;
}

.error {
    color: #F55;
}
